<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt Trainer</title>
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <script>
        self.addEventListener("fetch", (event) => {
            var currentUrl = new URL(event.request.url);
            var newRequest = new Request(event.request, {
                credentials: "same-origin",
                headers: {
                    'X-auth-user': '123',
                }
            });
            event.respondWith(fetch(newRequest));
        });
    </script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/#">Домой</a></li>
                <li><a href="/#about">О проекте</a></li>
                <li><a href="/#how-it-works">Как это работает</a></li>
                <li><a href="/#benefits">Преимущества</a></li>
                <li><a href="/#contact">Контакты</a></li>
                <li><a id="login-header" href="/#login">Войти</a></li>
            </ul>
        </nav>
        <div class="header-container">
        <div class="header" id="header-user">
            <div>Добро пожаловать, <span id="user-name-header"></span></div>
            <button class="login-button" onclick="logout()">Выйти</button>
        </div>
        <a class="try-free" href="/main">Приобрести</a>
    </div>
        
    </header>

    
    <div class="container" id="main">
            <div class="enter-prompt">
                <div class="title">Промпт-тренажер</div>
            <div class="subtitle">Напишите свой запрос, мы подберем наводящие вопросы, которые помогут Вам сформировать
                промпт для нейросети.</div>
            <textarea id="textInput" class="input-box" placeholder="Напишите свой запрос здесь..."></textarea>
            <div class="buttons">
                <button class="button cancel" onclick="clearText()">Отменить</button>
                <button class="button submit" onclick="fetchData()">Отправить</button>
            </div>
        <div id='serverText' class="serverText">
            </div>
        </div>
    </div>
</body>
<script>
    if (typeof localStorage.getItem('user') === "string") {
        document.getElementById('user-name-header').innerText = " " + localStorage.getItem('user');
        console.log(localStorage.getItem('user'));
    } else {
        document.getElementById('header-user').style = "display: none";
    }
</script>

</html>