<!-- Это старый файл -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отправка текста на сервер</title>
    <script src="/static/js/home.js"></script>
</head>

<body>

    <label for="textInput">Введите текст:</label>
    <input type="text" id="textInput" name="textInput">
    <button onclick="fetchData()" type="submit">Отправить</button>

    <div id='serverText' style='display: flex; flex-direction: column; gap: 12px; margin-top: 12px; font-weight: bold; text-align: right;'></div>

</body>

</html>